<style>
h1 {
    color:brown;
}
img {width: 100px;
}
#thirdDiv {
    height:600px;
    width:500px;
    padding: 50px;
    border:8px solid brown;
    background-color: coral;
}
#spanId {
    font-size: 25px;
    margin: 50px;
}
</style>
